
<div class="main">
      <h1>Pokemon Trainer</h1>
      <h2>{{username}}</h2>
      <div class = "textbutton">
      <form class="form-control" (ngSubmit)= "onSubmit()">
        <label class="label">Welcome pokemon trainer</label>
        <input type ="text" id = "login-form" name = "username" [(ngModel)] = "username" placeholder ="Type you name" />
        <button id="btn-login" type="form-control"  class="btn">Start collecting!</button>
      </form>
      </div>
<footer>By Michel Saremi</footer>
</div>