.main {
  background: white url(src\assets\images\pokemon.png) center;
  min-width: 100%;
  min-height: 100%;
  background-repeat: repeat-y;
}

.display {
  background-color: beige;
  opacity: 0.80;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.select{
  width: 400px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


h1{
  background-color: red;
  color: white;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h2{
  background-color: white;
  color: black;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  border-color: black;
  width: 400px;
}
h3{
  background-color: white;
  color: black;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
}

.btn {
  background: red;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  font-family: monospace;
}

.collect{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
}