.main {
  background: white url(src\assets\images\pokemon.png) center;
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  background-repeat: repeat-x;
}

.display {
  align-items: center;
  text-align: center;
  margin-top: 150px;
}

.buttons {
  align-items: center;
  text-align: center;
}

h1{
  background-color: red;
  color: white;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h2{
  background-color: white;
  color: black;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h3{
  background-color: white;
  color: black;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
}

.btn {
  background: red;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  font-family: monospace;
}